.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
  @media (min-width: 768px) {
    padding: 24px;
  }
}

.backButtonContainer {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 16px;
  padding: 0 10px;
  
  @media (min-width: 768px) {
    padding: 0;
  }
}

.backButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #737380;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-bottom: 16px;
  padding: 0;
  font-size: 16px;

  .backIcon {
    border-style: solid;
    border-color: #617480;
    border-radius: 50%;
    padding: 1px 3px;
    border-width: 1px;
  }

  span {
    font-size: 16px;
    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #737380;
    text-decoration: none;
}
}

.productContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  width: 100%;
  
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 12px;
  overflow: hidden;
  background: #f2f2f2;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    height: 480px;
    max-width: 640px;
    justify-content: flex-start;
  }

  .productImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
}


.productInfo {
  padding: 0 10px;
  margin-top: 16px;
  
  @media (min-width: 768px) {
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
  }


  .category {
    color: #41414D;
    margin-bottom: 5px;
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing:normal;
    vertical-align:middle;
 }

  .title {
    font-family: var(--font-inter), sans-serif;
    font-weight: 300;
    font-style: Light;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #41414D;
    margin-bottom: 12px;
    
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }

  .price {
    color: #0F9D58;
    font-family: var(--font-inter), sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    
  }

  .sectionTitle {
    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #737380;
    margin-top: 24px;
    
    @media (min-width: 768px) {
      font-size: 16px;
      margin-top: 40px;
    }
  }

  .description {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #737380;
    margin: 8px 0 32px;
    
    @media (min-width: 768px) {
      margin-bottom: 200px;
    }
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    max-width: 420px;
  }

  .addToCartButton {
    width: 100%;
    max-width: 600px;
    height: 50px;
    border-radius: 4px;
    opacity: 1;
    gap: 16px;
    padding: 8px 16px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -27px;

    &:hover {
      transform: scale(1.02);
      transition: transform 0.2s;
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
}
